* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --main-bg-color: #3442e878;
}

body {
    background-color: var(--main-bg-color);
}

.name {
    color: white;
    border: 1px solid white;
    float: left;
    top: -38px;
padding: 0px 11px;
position: relative;
font-size: 25px;
left: -185px;
}

header,
footer {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
    /* border: 3px solid white; */
    /* background-color: black; */
    height: 10vw;
    /* color: white; */
}

header .nav ul li {
    display: inline;
    /* background-color: green; */
    padding: 2vw;



}
header .nav ul li :hover {
    color: #b91a4feb;
    font-weight: bold;



}


nav{
    
    color: white;
    /* width: 100vw; */
    /* height: 15vh; */
}

header nav ul {
    display: inline;
    /* float: right; */
    padding: 2vw;
    list-style: none;


    color: white;
    text-decoration: none;
    font-size: 25px;
}
header nav ul li a {
   color:white;
}


.skills,
.about-me,
.projects,
.testimonials {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color: rgb(238, 164, 164); */
    /* border: 2px solid pink; */
    margin: 7vh 10vw;
    padding: 3vw;

}



input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}




@media screen and (max-width:1000px) {
    .nav ul li {
        display: flex;
        justify-content: space-between;
        padding:20vw;
        width: 100%;
        text-align: center;
        margin: 3vw;
        padding: auto;

        /* background-color: #45a049; */




    }

    .name {
        /* display: flex;
        flex-direction: column;
        color: white;
        font-size: 30px;
        float: left; */
        position: relative;
        left: 20px;
        

    }



    header {
        height: 30vw;
        display: flex;
        /* padding:10vh; */
        flex-direction: row;
        background-color: var(--main-bg-color);
    }

}

.about-me img {
    display: flex;
    justify-content: center;
    margin-left: 25vw;
    /* float: left; */
    border: 4px solid white;
    width: 20vw;
    height: 20vw;


}

.about-me-text,
.skills p {
    /* display: inline-block; */
    float: right;
    /* border:3px solid purple; */

}




h2 {
    color:blue;
    font-weight: bold;
    text-align: center;
    /* border: 3px solid brown; */
}